.Header {
  display: flex;
  align-items: center;
  background-color: #00c8ff;
  width: 100%;
  justify-content: center;
  flex-direction: column;
}

.Header-container {
  display: flex;
  align-items: center;
  background-color: #00c8ff;
  width: 100%;
  height: 76px;
  justify-content: center;
  flex-direction: row;
}

.header-searchBox {
  width: 100%;
  max-width: 264px;
  height: 32px;
  display: flex;
  align-items: center;
  background: #ffffff;
  border: 2px solid #f0f0f0;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 18px 260px 0 0;
}

.header-searchBox-input {
  width: 100%;
  max-width: 232px;
  height: 32px;
  border: 0;
  outline: 0;
  padding: 8px 12px;
  box-sizing: border-box;
}
::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  padding: 8px 12px;
  font-family: "Roboto", sans-serif;
}

.header-logo {
  margin: 18px 260px 0 0;
}

/* A margem está criando um overflow em telas menores, considere retirar a margem em telas menores */

.header-login {
  color: white;
  margin: 0 40px 0 0;
  text-decoration: none;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;
}

.Header-Cart-Icon {
  max-width: 28px;
}

.Header-Links {
  width: 100%;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #c4c4c4;
  height: 44px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Header-menu {
  display: flex;
  align-content: center;
  align-items: center;
}

@media (max-width: 1200px) {
}

@media (max-width: 991px) {
}
@media (max-width: 600px) {
}

@media (max-width: 480px) {
  .Header-container {
    flex-direction: column;
    width: 100%;
  }

  .header-searchBox {
    max-width: 343px;
    height: 36px;
    margin: 0;
  }

  .header-searchBox-input {
    max-width: 343px;
    height: 36px;
  }
}
