.Newsletter {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #c4c4c4;
  align-items: center;
  margin-top: 171px;
  margin-bottom: 16px;
}

.Newsletter-Account {
  display: flex;
  margin-top: 5px;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.Newsletter-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.05em;

  color: #303030;
}

.Newsletter-Input {
  width: 100%;
  max-width: 342px;
  height: 42px;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 4px;
  margin-right: 7px;
}

.Newsletter-Button {
  width: 100%;
  max-width: 126px;
  height: 42px;
  background: #00c8ff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  border: none;
  color: var(--white500);
}

@media (max-width: 768px) {
  .Newsletter-Account {
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
    flex-direction: column;
  }

  .Newsletter-Button {
    max-width: 100%;
    border-radius: 0;
    box-shadow: none;
    margin: 16px 0 0;
  }

  .Newsletter-Input {
    border-radius: 0;
    box-shadow: none;
    outline: none;
  }

  .Newsletter-title {
    text-align: left;
    width: 100%;
    max-width: 90%;
    margin: 21px auto 12px;
    line-height: 16px;
    font-size: 14px;
  }
}
