.buttons-wrapper {
  position: fixed;
  bottom: 14px;
  right: 14px;
  z-index: 100;
}

.button-whatsapp {
  cursor: pointer;
}
.button-up {
  display: flex;
  border-radius: 50%;
  height: 37px;
  width: 37px;
  background-color: var(--gray-500);
  justify-content: center;
  align-items: center;
  margin-top: 12px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .buttons-wrapper {
    bottom: 5px;
    right: 3px;
  }
}
