.header-desktop-wrapper {
	background-color: #00C8FF;

	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 76px;
}

.header-desktop-wrapper-logo {
	display: flex;
	align-items: baseline;
	margin:18px 0 34px 110px;
	transition: all .2s linear;
	width: 60px;
}
.header-desktop-wrapper-logo:hover,
.header-desktop-wrapper-icons-cart:hover {
	opacity: 70%;
}
.header-desktop-wrapper-logo:active,
.header-desktop-wrapper-icons-cart:active {
	opacity: 100%;
}

.header-desktop-wrapper-logo-title {
	font-family: Inter;
	font-size: 22px;
	letter-spacing: -0.1em;
	color: #1E1D1D;

	margin: 0px;
}

.header-desktop-wrapper-search-input {
	font-family: Roboto;
	font-size: 14px;
	line-height: 16px;
	color: black;

	padding: 8px 38px 8px 8px;
	border: 0px;
	width: 214px;
	outline: 0;
	border-radius: 5px;
}
.header-desktop-wrapper-search-input::placeholder {
	color: #C4C4C4;
}

.header-desktop-wrapper-search {
	position: relative;
	background: #FFFFFF;
	border: 2px solid #F0F0F0;
	border-radius: 5px;
	margin:24px 0 16px 0;
}
.header-desktop-wrapper-search-icon {
	position: absolute;
	left: 232px;
	top: 7px;
}
.header-desktop-wrapper-search-button {
	cursor: pointer;
	border: 0;
	padding: 0;
}

.header-desktop-wrapper-icons {
	display: flex;
	align-items: center;
}
.header-desktop-wrapper-icons-login {
	color: #FFFFFF;
	font-family: Roboto;
	font-size: 14px;
	line-height: 16px;
	margin:34px 40px 26px 0;
	transition: all .2s ease-in-out;
}

.header-desktop-wrapper-icons-login:hover,
.sub-header-desktop-info-text:hover {
	color: #000000;
}
.header-desktop-wrapper-icons-login:active,
.sub-header-desktop-info-text:active{
	color: #FFFFFFFF;
}

.header-desktop-wrapper-icons-cart {
	margin: 28px 40px 20px 0;
	transition: all .2s ease-in-out;
}
.sub-header-desktop-wrapper {
	display: block;
	border-top: 1px solid #C4C4C4
}

.sub-header-desktop-info {
	display: flex;
	background-color: #00C8FF;
}

.sub-header-desktop-info-text {
	font-family: Roboto;
	font-size: 14px;
	line-height: 16px;
	margin:14px 0;
	color: #FFFFFF;
	transition: all .2s ease-in-out;
}

a:link {
	text-decoration: none;
}

.sub-header-desktop-info-text-01 {
	margin:14px 126px 14px 110px;
}

@media screen and (min-width: 769px){
	.header-mobile-wrapper{
		display: none;
	}
}

@media screen and (max-width: 768px){
	.header-desktop-wrapper,
	.sub-header-desktop-info {
		display: none;
	}
	.header-mobile-wrapper,
	.header-mobile-wrapper-menu-active {
		display: grid;
		justify-content: center;
		align-items: center;
		height: 140px;

		background: #00C8FF;
		border: 1px solid #000000;
		box-sizing: border-box;
	}
	.header-mobile-wrapper-menu-active {
		position: fixed;
		width: 100%;
		z-index: 20;
	}
	.header-mobile-title {
		display: flex;
		align-items: center;
		justify-content: center;
		max-width: 100%;
		background: #00C8FF;
	}
	.header-mobile-logo {
		display: flex;
		align-items: baseline;
		height: 24px;
		margin:29px 48px 34px 92px;

	}
	.header-mobile-wrapper-logo-title {
		font-family: Inter;
		font-size: 22px;
		letter-spacing: -0.1em;
		color: #1E1D1D;
		margin: 0;
		width: 95px;
	}
	.header-mobile-wrapper-search-input {
		background: #FFFFFF;
		border: 2px solid #F0F0F0;
		border-radius: 5px;
		padding: 8px 44px 8px 14px;
    	width: 280px;
		outline: 0;
		margin-bottom: 16px;
	}
	.header-mobile-wrapper-search {
		position: relative;
		width: 342px;
	}
	.header-mobile-wrapper-search-icon{
		position: absolute;
		left: 310px;
		top: 7px;
	}
	.header-mobile-wrapper-search-input::placeholder{
		color: #C4C4C4;
	}
	.header-mobile-menu {
		background: transparent;
		border: 0;
		padding: 0;
	}
	.menu-icon-closed,
	.menu-icon-open {
		transition: all .2s ease-in-out;
		border-top: 4px solid #FFFFFF;
		border-radius: 2px;
		width: 28px;
		margin-bottom: 8px;
		padding: 0;
	}

	.menu-icon-open-line1 {
		transition: all .2s ease-in-out;
		position: absolute;
		transform: rotate(45deg);
	}
	.menu-icon-open-line2 {
		transform: rotate(-45deg);
	}

	.background-disabled {
		transition: all .6s ease-in-out;
		transform: translateY(-500px);
		position: absolute;
		width: 100%;
		z-index: 10;
	}

	.background-active {
		position: absolute;
		width: 100%;
		height: 500%;
		background: #9b9b9bb5;
		z-index: 10;
		top: 139px;
	}

	.menu-active {
		transition: all .4s ease-in-out;
		border: 1px solid #000000;
		box-sizing: border-box;
		border-top: none;

	}
	.menu-titles {
		display: flex;
		align-items: center;
		justify-content: center;
		background: #00C8FF;
		padding: 16px 0;
		margin: 0px;
		width:100%;

		font-family: 'Roboto';
		font-size: 16px;

		color: #FFFFFF;
	}
	.menu-titles-line1,
	.menu-titles-line2 {
		border-bottom: 1px solid #000000;
	}
	.menu-titles:active {
		transition: all .2s ease-in-out;
		color: black;
	}
}
