.newslatter-wrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid #E7E7E7;
	margin-bottom: 26px;
}
.newslatter-wrapper-content {
	align-items: flex-start;
	margin: 16px 0;
	position: relative;
}
.newslatter-title {
	font-family: Roboto;
	font-weight: bold;
	font-size: 18px;
	letter-spacing: 0.05em;
	font-variant: small-caps;
	color: #303030;


	margin:0px 0 6px 0;
}
.newslatter-input {
	border: 1px solid #E5E5E5;
	box-sizing: border-box;
	border-radius: 4px;
	padding:12px 16px;
	margin-right: 8px;
	outline: 0;

	width: 342px;
	height: 42px;
}
.newslatter-input::placeholder{
	font-family: Roboto;
	font-size: 14px;
	color: #C4C4C4;
}
.newslatter-submit {
	background: #00C8FF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
	border: 0;
	padding:14px 40px;

	font-family: Roboto;
	font-weight: bold;
	font-size: 12px;
	letter-spacing: 0.05em;

	color: #FFFFFF;
	transition: all .2s ease-in-out;
}

.newslatter-submit:hover {
	opacity: 70%;
}
.newslatter-submit:active{
	background-color: #004558;
	opacity: 100%;
}
.error-mesage-inputs {

}
@media screen and (max-width: 768px){
	.newslatter-wrapper-content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin: 16px 0;
	}
	.newslatter-title{
		font-family: Roboto;
		font-style: normal;
		font-weight: 500;
		font-size: 17px;
		line-height: 16px;

		letter-spacing: 0.05em;
		font-variant: small-caps;

		color: #303030;
		margin:0 0 12px 0;
	}
	.newslatter-input {
		padding:16px;
		width: 326px;
		height: 50px;
		margin:0 0 16px 0;
	}

	.newslatter-submit {
		width: 326px;
		height: 50px;
	}
	.newslatter-wrapper {
		margin-bottom: 0px;
	}
}
