.submenu-wrapper {
  width: 100%;
  background: rgb(189, 189, 189);
  padding-bottom: 20px;
  display: none;
}
.submenu-wrapper.is-open {
  width: 100%;
  background: rgb(189, 189, 189);
  padding-bottom: 20px;
}

.submenu {
  padding-left: 109px;
  display: none;
}

.submenu-title {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 24px;
  padding: 20px 0;
}
.submenu-categories-items {
  display: flex;
  padding: 0 0 20px 0;
}

.submenu__category {
  list-style: none;
  margin-bottom: 10px;
}
.submenu__category-link {
  text-decoration: none;
  margin-right: 16px;
  font-family: "Roboto", sans-serif;
  color: #fff;
  transition: color 0.2s linear;
}
.submenu__category-link:hover {
  color: #00c8ff;
}

.submenu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: 0;
  cursor: pointer;
}
