@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input,
button {
  border: none;
  outline: none;
}

:root {
  --white: #fff;

  --black: #000;

  --blue-500: #00c8ff;

  --gray-500: #c4c4c4;

  --font-family-Roboto: "Roboto";
}
