.container {
  max-width: 1017px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 170px;
}

.main-title {
  font-family: "Helvetica Neue LT Std";
  line-height: 29px;
  letter-spacing: 0.1em;
  color: #292929;
  text-align: center;
}
.main-subtitle {
  color: #292929;
}

.main-institucional {
  display: flex;
}

.main-institucional__menu {
  padding: 0 16px;
}

.main-menu {
  /* margin-top: 100px; */
  border-right: 1px solid #e5e5e5;
  padding: 0;
}

.main-description {
  margin: 0 32px;
}

.main-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;

  color: #7d7d7d;
}

@media (max-width: 767px) {
  .main-menu {
    border: 0;
  }
  .main-institucional {
    flex-direction: column;
  }
  .main-subtitle {
    text-align: center;
  }
}
